/* line 4, ../../../app/stylesheets/mystyle.sass */
html {
  background-color: #dbdada;
}

/* line 7, ../../../app/stylesheets/mystyle.sass */
body {
  background-color: #dbdada;
  font-family: arial, "sans-serif";
  font-size: 80%;
}

/* line 13, ../../../app/stylesheets/mystyle.sass */
#root {
  background-color: white;
  margin: 0 auto;
  border: 1px soild black;
  padding-top: 170px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 21, ../../../app/stylesheets/mystyle.sass */
#bookshelf {
  height: 496px;
  width: 100%;
  background: url("/images/bookshelf.png");
  z-index: 1;
  position: absolute;
}

/* line 28, ../../../app/stylesheets/mystyle.sass */
#file-box {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
  margin: 0;
  margin-bottom: 2em;
  float: right;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #file-box {
  overflow-x: hidden;
}

/* line 34, ../../../app/stylesheets/mystyle.sass */
#file-box h3 {
  border-bottom: 1px dashed grey;
  width: 90%;
}

/* line 38, ../../../app/stylesheets/mystyle.sass */
#file-box a {
  background: #cccccc;
  color: black;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 3px 15px;
}

/* line 46, ../../../app/stylesheets/mystyle.sass */
#file-box a:hover {
  background: #c8e6f1;
}

/* line 49, ../../../app/stylesheets/mystyle.sass */
#file-box img {
  width: 30%;
  float: right;
}

/* line 53, ../../../app/stylesheets/mystyle.sass */
#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
  z-index: 3;
  position: relative;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content {
  overflow-x: hidden;
}

/* line 58, ../../../app/stylesheets/mystyle.sass */
#last-texts-box {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 77px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #last-texts-box {
  overflow-x: hidden;
}

/* line 62, ../../../app/stylesheets/mystyle.sass */
.small-box {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  float: right;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .small-box {
  overflow-x: hidden;
}

/* line 67, ../../../app/stylesheets/mystyle.sass */
.content-line {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  margin-bottom: 1em;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content-line {
  overflow-x: hidden;
}

/* line 71, ../../../app/stylesheets/mystyle.sass */
#about-box {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #about-box {
  overflow-x: hidden;
}

/* line 74, ../../../app/stylesheets/mystyle.sass */
#holdside {
  top: 0;
  width: 220px;
  height: 500px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #holdside {
  overflow-x: hidden;
}

/* line 80, ../../../app/stylesheets/mystyle.sass */
#sidebar {
  z-index: 2;
  position: fixed;
  padding: 0;
  padding-top: 20px;
  top: 0;
  width: 220px;
  height: 500px;
  background: #cc0000 url("/images/sidebar-down.png") no-repeat bottom;
  margin-right: 10px;
}

/* line 91, ../../../app/stylesheets/mystyle.sass */
#sidebar a {
  color: #f8b12c;
  text-decoration: none;
}

/* line 95, ../../../app/stylesheets/mystyle.sass */
#sidebar a:hover {
  text-decoration: underline;
}

/* line 98, ../../../app/stylesheets/mystyle.sass */
#sidebar h4 {
  margin: 0;
}

/* line 101, ../../../app/stylesheets/mystyle.sass */
#sidebar hr {
  background-color: #a60000;
  border: 1px solid #a60000;
  margin: 5px 10px;
  width: 194px;
}

/* line 108, ../../../app/stylesheets/mystyle.sass */
#sidebar ul {
  list-style-type: none;
}

/* line 111, ../../../app/stylesheets/mystyle.sass */
.count {
  color: white;
  font-size: 75%;
  text-align: center;
  border-top: dotted 2px #a60000;
  margin-top: 1em;
}

/* line 118, ../../../app/stylesheets/mystyle.sass */
h1 {
  font-size: 300%;
  font-family: "times new roman", serif;
  margin-top: 10px;
}

/* line 123, ../../../app/stylesheets/mystyle.sass */
.breadcrumb {
  font-size: 80%;
  margin: 1em 0 1em 0;
}

/* line 127, ../../../app/stylesheets/mystyle.sass */
.breadcrumb hr {
  border-bottom: 1px solid #3e3d3e;
  width: 100%;
}

/* line 132, ../../../app/stylesheets/mystyle.sass */
.tag, .tag:visited {
  color: black;
  background-color: #ece6ca;
  border: 1px solid #ded6af;
  padding: 0 3px;
  padding-right: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  background-image: url("/images/icons/tag_blue.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* line 144, ../../../app/stylesheets/mystyle.sass */
.tag:hover {
  color: white;
  background-color: #cc6600;
}

/* line 148, ../../../app/stylesheets/mystyle.sass */
.text-item {
  margin-bottom: 1em;
}
/* line 151, ../../../app/stylesheets/mystyle.sass */
.text-item h3 {
  font-size: 120%;
  text-decoration: underline;
}
/* line 154, ../../../app/stylesheets/mystyle.sass */
.text-item a {
  text-decoration: none;
}

/* line 157, ../../../app/stylesheets/mystyle.sass */
.admin-box {
  margin-right: 1em;
}

/* line 169, ../../../app/stylesheets/mystyle.sass */
#maayan {
  background: url("/images/maayan.png") no-repeat top right;
  min-height: 251px;
}

/* line 173, ../../../app/stylesheets/mystyle.sass */
.delete-btn {
  display: table;
  font-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  padding: 5px 20px 5px 5px;
  margin: 3px;
  background-color: #d4d7e0;
  background-image: url("/images/icons/delete.png");
}

/* line 177, ../../../app/stylesheets/mystyle.sass */
.edit-btn a {
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  color: black;
}

/* line 183, ../../../app/stylesheets/mystyle.sass */
.edit-btn {
  display: table;
  font-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  padding: 5px 20px 5px 5px;
  margin: 3px;
  background-color: #d4d7e0;
  background-image: url("/images/icons/page_white_edit.png");
}

/* line 187, ../../../app/stylesheets/mystyle.sass */
#tabs {
  width: 85%;
  margin: auto;
}

/* line 192, ../../../app/stylesheets/mystyle.sass */
.tags-box {
  text-align: justify;
  padding-left: 15px;
}

/* line 196, ../../../app/stylesheets/mystyle.sass */
.ui-tabs .ui-tabs-nav li {
  float: right;
}

/* line 199, ../../../app/stylesheets/mystyle.sass */
.tags-box a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  line-height: 13px;
  color: #cc0000;
  position: relative;
}

/* line 207, ../../../app/stylesheets/mystyle.sass */
.tags-box a:hover {
  background-color: #cc0000;
  color: white;
}

/* line 211, ../../../app/stylesheets/mystyle.sass */
a.show-all {
  text-align: left;
  display: block;
  color: black;
  font-size: 85%;
  font-weight: bold;
}

/* line 218, ../../../app/stylesheets/mystyle.sass */
.css1 {
  font-size: 0.7em;
  z-index: 10;
}

/* line 222, ../../../app/stylesheets/mystyle.sass */
.css2 {
  font-size: 1em;
  font-weight: bold;
  z-index: 9;
}

/* line 227, ../../../app/stylesheets/mystyle.sass */
.css3 {
  font-size: 1.5em;
  z-index: 8;
}

/* line 231, ../../../app/stylesheets/mystyle.sass */
.css4 {
  font-size: 2em;
  z-index: 7;
}

/* line 235, ../../../app/stylesheets/mystyle.sass */
.css5 {
  font-size: 2.5em;
  font-weight: bold;
  z-index: 6;
}

/* line 240, ../../../app/stylesheets/mystyle.sass */
#searchbox {
  text-align: center;
  background-color: #a60000;
  padding: 0.3em;
}

/* line 245, ../../../app/stylesheets/mystyle.sass */
#searchbox input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 130%;
  width: 200px;
  text-align: center;
}

/* line 251, ../../../app/stylesheets/mystyle.sass */
#hello {
  margin: 3px 3px;
}

/* line 254, ../../../app/stylesheets/mystyle.sass */
#greetings {
  color: #f8b12c;
  font-weight: bold;
  float: right;
  margin-top: 3px;
}

/* line 261, ../../../app/stylesheets/mystyle.sass */
.button a {
  float: left;
  font-weight: normal;
  margin: 3px 0 6px 5px;
  background-color: #a60000;
  color: white !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 0px 8px;
}

/* line 270, ../../../app/stylesheets/mystyle.sass */
.field_with_errors input {
  border: 2px solid red;
}

/* line 273, ../../../app/stylesheets/mystyle.sass */
#flash {
  margin: 1em;
}

/* line 276, ../../../app/stylesheets/mystyle.sass */
#flash p {
  margin: 0;
}
