/*
Syntax error: Undefined mixin 'font-size'.
        on line 21 of /home/bjesus/Projects/textmi/app/stylesheets/partials/_page.scss, in `font-size'
        from line 21 of /home/bjesus/Projects/textmi/app/stylesheets/partials/_page.scss
        from line 11 of /home/bjesus/Projects/textmi/app/stylesheets/screen.scss

Backtrace:
/home/bjesus/Projects/textmi/app/stylesheets/partials/_page.scss:21:in `font-size'
/home/bjesus/Projects/textmi/app/stylesheets/partials/_page.scss:21
/home/bjesus/Projects/textmi/app/stylesheets/screen.scss:11
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/mixin_node.rb:74:in `perform!'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/import_node.rb:78:in `perform!'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/import_node.rb:64:in `_perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/root_node.rb:59:in `perform!'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/tree/root_node.rb:29:in `render'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/plugin.rb:220:in `update_stylesheet'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/plugin.rb:85:in `update_stylesheets'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/plugin.rb:78:in `each'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/plugin.rb:78:in `update_stylesheets'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/plugin.rb:76:in `each'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/plugin.rb:76:in `update_stylesheets'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/plugin.rb:50:in `check_for_updates'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/haml-3.0.18/lib/sass/plugin/rack.rb:40:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/warden-0.10.7/lib/warden/manager.rb:35:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/warden-0.10.7/lib/warden/manager.rb:34:in `catch'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/warden-0.10.7/lib/warden/manager.rb:34:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/application.rb:77:in `send'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:162:in `start'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:95:in `start'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:92:in `each'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:92:in `start'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:23:in `start'
/home/bjesus/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:82:in `start'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/commands/server.rb:65:in `start'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/commands.rb:30
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/commands.rb:27:in `tap'
/home/bjesus/.rvm/gems/ruby-1.8.7-p302/gems/railties-3.0.3/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'font-size'.\A         on line 21 of /home/bjesus/Projects/textmi/app/stylesheets/partials/_page.scss, in `font-size'\A         from line 21 of /home/bjesus/Projects/textmi/app/stylesheets/partials/_page.scss\A         from line 11 of /home/bjesus/Projects/textmi/app/stylesheets/screen.scss"; }
