@import 'blueprint'
@import "compass/css3"

html
  background-color: #DBDADA

body
  background-color: #DBDADA
  font-family: arial, "sans-serif"
  font-size: 80%


#root
  background-color: white
  margin: 0 auto
  border: 1px soild #000
  padding-top: 170px
  +container
//  +showgrid
  
#bookshelf
  height: 496px
  width: 100%
  background: url('/images/bookshelf.png')
  z-index: 1
  position: absolute

#file-box
  +column(9)
  margin: 0
  margin-bottom: 2em
  float: right

#file-box h3
  border-bottom: 1px dashed grey
  width: 90%

#file-box a
  background: #ccc
  color: black
  text-decoration: none
  +border-radius
  text-align: center
  padding: 3px 15px

#file-box  a:hover
  background: #C8E6F1

#file-box img
  width: 30%
  float: right

#content
  +column(18)
  z-index: 3
  position: relative

#tags-box
  +column(7)

#last-texts-box
  +column(11, true)

.small-box
  +column(6, true)
  float: right


.content-line
  +column(18,true)
  margin-bottom: 1em

#about-box
  +column(6, true)

#holdside
  top: 0
  width: 220px
  height: 500px
  +column(6, true)

#sidebar
  z-index: 2
  position: fixed
  padding: 0
  padding-top: 20px
  top: 0
  width: 220px
  height: 500px
  background: #CC0000 url('/images/sidebar-down.png') no-repeat bottom
  margin-right: 10px

#sidebar a
  color: #F8B12C
  text-decoration: none

#sidebar a:hover
  text-decoration: underline

#sidebar h4
  margin: 0

#sidebar hr
  background-color: #a60000
  border: 1px solid #a60000
  margin: 5px 10px
  width: 200px


#sidebar ul
  list-style-type: none

.count
  color: white
  font-size: 75%
  text-align: center
  border-top: dotted 2px #a60000
  margin-top: 1em

h1
  font-size: 300%
  font-family: "times new roman", serif
  margin-top: 10px

.breadcrumb
  font-size: 80%

.breadcrumb hr
  border-bottom: 1px solid #3e3d3e
  width: 100%

.tag, .tag:visited
  color: black
  background-color: #ece6ca
  border: 1px solid #ded6af
  padding: 0 3px
  padding-right: 18px
  +border-radius
  text-decoration: none
  background-image: url('/images/icons/tag_blue.png')
  background-repeat: no-repeat
  background-position: right

.tag:hover
  color: white
  background-color: #cc6600

.text-item
  margin-bottom: 1em

  h3
    font-size: 120%
    text-decoration: underline
  a
    text-decoration: none

.admin-box
  margin-right: 1em

=button
  display: table
  font-size: 80%
  background-repeat: no-repeat
  background-position: right
  padding-right: 18px

.delete-btn
  +button
  background-image: url('/images/icons/delete.png')

.edit-btn
  +button
  background-image: url('/images/icons/page_white_edit.png')

// tag cloud
#tags-box
  text-align: justify
  padding-left: 15px
  width: 255px

#tags-box a
  text-decoration: none
  padding: 0
  margin: 0
  line-height: 13px
  color: #cc0000

#tags-box a:hover
  background-color: #cc0000
  color: #fff

.css1
  font-size: 0.7em
.css2
  font-size: 1.0em
  font-weight: bold
.css3
  font-size: 1.5em
.css4
  font-size: 2.0em
.css5
  font-size: 2.5em
  font-weight: bold

#searchbox
  text-align: center
  background-color: #a60000
  padding: .3em

#searchbox input
  +border-radius
  font-size: 130%
  width: 200px
  text-align: center
