#maayan.content-line
  #last-texts-box
    #take-aside{:style => "padding-right: 240px;"}
      %h2 שלום, אני מעין!
      %p מאגר זה פועל בשיטה שיתופית, ולכל אחד חלק בשימורו ובנייתו. ביכולתך להעלות טקסטים, לערוך אותם ואת התיוג שלהם באתר.
      %p מכיוון שמדובר באחריות גדולה על תכני האתר והאופן בו הם מונגשים הנה מספר כללי יסוד חשובים שאנחנו רוצים לעמוד עליהם:
    %ul
      %li זכויות יוצרים - דאג שלא יהיה במאגר ספר שחל עליו חוק זכויות היוצרים (כלומר, שעברו 70 שנה מאז שהכותב נפטר). אם אתה רואה כזה, הפנה את תשומת ליבנו לעניין.
      %li טקסטים ללא תגיות מספיקות - הדרך למצוא טקסט היא באמצעות תגיות. יש לשאוף שלכל טקסט יהיו בערך 5 תגיות כדי שיהיה אפשר למצוא אותו בקלות ובחיתוכים שונים. אתם מוזמנים להוסיף. כדאי להשתמש בתגיות שכבר קיימות אם הדבר ניתן. כותבים את התגית ומחכים להשלמת המילה, אם אין השלמה הרי שמדובר בתגית חדשה. 
      %li טקסטים אישיים - אין להעלות טקסט של כותב תנועתי (כלשהו), ללא אישורו.
      %li
        %span סדר וארגון - שימו לב לתופעות של כפילות (בתנאי שמדובר באותם שני קבצים בדיוק), טקסטים שמחולקים לכמה קבצים (כמו: "ברל1" "ברל2" "ברל3"), קבצים שהם בכלל לא טקסטים (כמו: "~ד כוחה של התנועה"), או שגיאות כתיב בשם הטקסט או הכותב. עִרְכוּ או שלחו לנו הודעה ונמחוק.
        %sub אם יש לכם מאגר טקסטים על המחשב שאתם רוצים להעלות במכה אחת ולא אחד אחד - אתם יותר ממוזמנים לפנות אלינו במייל המצוין למטה.

      %li מאגר הטקסטים הינו פנים תנועתי - הכניסה אליו רק באמצעות דוא"ל והסיסמה.  
    %p אנא פנו אלינו לבקשות, הערות והארות למייל - madricha.noal@gmail.com.
