<div dir="rtl" style="text-align: right;">
<p>אהלן  <%= @resource.email %>!</p>

<p>מישהו ביקש לאפס את הסיסמה שלך באתר מעין, ואפשר לעשות את זה דרך הקישור הבא:</p>

<p><%= link_to 'אפס את הסיסמה שלי', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>אם אתם לא יודעים מי ביקש לאפס לכם את הסיסמה, כדאי שתתחילו לחשוד בכולם, אבל בגדול אין לכם מה לדאוג ואתם יכולים פשוט להתעלם מהמכתב הזה ולהמשיך בחייכם כרגיל.</p>
<p>סיסמתכם לא תשונה כל עוד לא תלחצו על הקישור למעלה ותבחרו סיסמה חדשה.</p>

</div>
