%span.breadcrumb(style="clear: both;")
  = "טקסטים > כל התגיות"
.content-line
  - tag_cloud(@tags, %w(css1 css2 css3 css4 css5)) do |tag, css_class| 
    = link_to tag.name, '/tags/'+tag.name, {'class' => css_class}

