.content-line
  #tags-box
    - tag_cloud(@tags, %w(css1 css2 css3 css4 css5)) do |tag, css_class| 
      = link_to tag.name, '/tags/'+tag.name, {'class' => css_class}

  #last-texts-box
    %h2 כולנו נמלל!
    %p כמה פעמים חיפשתם טקסט ולא ידעתם איפה שמרתם אותו? או שלא שמרתם אותו? כמה פעמים זכרתם רק משפט אחד מתוכו, אבל לא זכרתם מי כתב ומתי נתקלתם בו?
    %p לכל המקרים האלה וגם למקרה שאתם פשוט מחפשים טקסט שיתאים, "מי ימלל" הוא כנראה הפתרון המושלם עבורכם.
    %p אתם מוזמנים לחפש באתר, וכמובן - אתם יותר ממוזמנים להוסיף אליו טקסטים. אולי ככה נעשה יחד חסד עם כתבים שמצבם רק הולך ומדרדר מצילום לצילום...

.content-line
  #authors-box
    %b לפי כותבים
    %ul
      - @authors.each do |author|
        %li= link_to author.name, '/tags/'+author.name


  #years-box
    %b לפי שנים
    %ul
      %li 1988
      %li 1989
      %li 1990
      %li 1991
      %li 1992

  #about-box
    %b חדש במערכת
    %ul     
      - @texts.each do |text|
        %li= link_to text.name, text


