%small.copyright
  מעין גירסה 1.9.4 | מערכת #{link_to "תוכנה חופשית", "https://github.com/bjesus/textmi"} בשירות #{link_to "דרור ישראל", "http://www.drorisrael.org.il"} | מומלץ לצפייה בדפדפן תואם סטנדרטים #{link_to "כזה", "http://getfirefox.com"} או #{link_to "אחר", "http://google.com/chrome"}